#stats.cfg
userlist stats-auth
        group admin    users admin
        user  admin    insecure-password AdminPasswd
        group readonly users lbuser
        user  lbuser insecure-password lbuser

listen stats
        bind 10.1.1.241:9000 #Management IP listening on port 9000
        mode http
        balance
        timeout client 5000
        timeout connect 4000
        timeout server 30000
        stats refresh 10s
        stats show-node
        stats uri /haproxy_stats
        acl AUTH       http_auth(stats-auth)
        acl AUTH_ADMIN http_auth_group(stats-auth) admin
        stats http-request auth unless AUTH
        stats admin if AUTH_ADMIN
#